body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.contenedor {
  max-width: 800px;
  margin: 20px auto;
  padding: 30px;
  text-align: center;
  background-image: url("img/unnamed.png");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h1 {
  color: #000;
  text-transform: uppercase;
}

input[type="text"] {
  padding: 15px;
  font-size: 16px;
  width: 70%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-bottom: 15px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  background-color: #2ecc71;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #27ae60;
}

#datosClima {
  margin-top: 20px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}
